.containers-switch {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 20px;
  background-color: rgb(255, 73, 73);
  border-radius: 10px;
  transition: all .3s;
  user-select: none;
  cursor: pointer;
  p {
    padding: 0 5px;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
  }

  p:nth-child(1) {
    display: none;
    text-align: left;
  }

  p:nth-child(2) {
    display: block;
    text-align: right;
  }
}

.containers-switch::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 100%;
  transition: all .3s;
  width: 16px;
  height: 16px;
  background-color: #fff;
}

.containers-switch.on {
  background-color: rgb(19, 206, 102);

  p:nth-child(1) {
    display: block;
  }

  p:nth-child(2) {
    display: none;
  }
}

.containers-switch.on::before {
  left: 22px;
}
.disabled {
  cursor: no-drop !important;
}
.readonly {
  cursor: none !important;
}